#ptags [ ]
[!autolink]

[foreach class]
\section{[class]}
\label{[filter ref][class dont_filter][endfilter]}

[if templ]template [endif] \
[if struct]struct[endif][else][if union]union[endif][else]class[endelse][endelse] \
\textbf{[class]}[templ]

[if parents]\textbf{Parents:} [parents][endif]

[if with_class][if with_class != [class]]
  \textbf{Related to:} [with_class] \
  (\ref{[filter ref][with_class dont_filter][endfilter]})
[endif][endif]

[if brief]\textit{[brief]}[endif]

[detail]

\subsection{Synopses}

[if public]
\textbf{Public members:}
\begin{itemize}
[foreach public]
\item [if pure]pure [endif][type] \textbf{[mname]} \
  [if func] \
    ([args]) [if const] const [endif] \
    [if throws] throws [throwclass]([throwargs])[endif] \
  [endif] \
  [if enum] [lb][args][rb] [endif] \
  [if detail] (\ref{[filter ref][class dont_filter]::[member dont_filter][endfilter]}) [endif] \
  [if brief] - \textit{[brief]}[endif] \
[next]

\end{itemize}
[endif]

[if protected]
\textbf{Protected members:}
\begin{itemize}

[foreach protected]
\item [if pure]pure [endif][type] \textbf{[mname]} \
  [if func] \
    ([args]) [if const] const [endif] \
    [if throws] throws [throwclass]([throwargs])[endif] \
  [endif] \
  [if enum] [lb][args][rb] [endif] \
  [if detail] (\ref{[filter ref][class dont_filter]::[member dont_filter][endfilter]}) [endif] \
  [if brief] - \textit{[brief]}[endif] \
[next]

\end{itemize}
[endif]

[nobreak]
[foreach func]
[if with_class == [class]]
[if !l1][def l1]
    \textbf{Related Functions} [n]
    [n]
    \begin{itemize} [n]
[endif]
\item [type] \textbf{[name]} ([args]) 
    [if throws] throws [throwclass]([throwargs]) [endif] 
    [if brief] -  \textit{[brief]}[endif] [n]
[endif]
[next]
[if l1] [undef l1]
  \end{itemize} [n]
[endif]
[endnobreak]

[nobreak]
[foreach typedef]
[if with_class == [class]]
  [if !l1] [def l1]
    \textbf{Related Types} [n]
    [n]
    \begin{itemize} [n]
  [endif]
\item [if typedef]typedef [endif][if enum]enum [endif][type] \textbf{[name]}
  [if enum] [lb][args][rb] [endif]
  [if brief] - \textit{[brief]}[endif] [n]
[endif]
[next]
[if l1] [undef l1]
  \end{itemize} [n]
[endif]
[endnobreak]

[nobreak]
[def pclass [class]]
[foreach class]
[if with_class == [pclass]] [if with_class != [class]]
[if !l1] [def l1]	
  \textbf{Related Classes} [n]
  [n]
  \begin{itemize} [n]
[endif]
\item [if templ]template [endif] 
  [if struct]struct[endif][else][if union]union[endif][else]class[endelse][endelse] 
    \textbf{[class]}[templ] 
    (\ref{[filter ref][class dont_escape][endfilter]}) 
    [if brief] - \textit{[brief]} [endif] [n]
[endif] [endif]
[next]
[if l1] [undef l1]
  \end{itemize} [n]
[endif]
[undef pclass]
[endnobreak]

[foreach public]
[if detail]
\subsection{[member]}
\label{[filter ref][class dont_filter]::[member dont_filter][endfilter]}

  [if pure]pure [endif][type] \textbf{[mname]} \
  [if func] \
    ([args]) [if const] const [endif] \
    [if throws] throws [throwclass]([throwargs])[endif] \
  [endif] \
  [if enum] [lb][args][rb] [endif]

[if brief]\textit{[brief]}[endif]

[detail]

[endif]

[next]

[foreach func][if with_class == [class]][// ][if detail]
\subsection{[name]}

[type] \textbf{[name]} ([args]) \
  [if throws] throws [throwclass]([throwargs]) [endif]

[if brief]\textit{[brief]}[endif]

[detail]

[endif][endif][next]

[next]


\section{Misc Non Members}

[foreach func][if !with_class]
[if !f1] [def f1]
  \textbf{Functions:}
  \begin{itemize}
[endif]
\item [type] \textbf{[name]} ([args]) \
  [if throws] throws [throwclass]([throwargs]) [endif] \
  [if brief] -  \textit{[brief]}[endif] 
[endif][next]
[if f1] [undef f1]
\end{itemize}
[endif]

[foreach typedef][if !with_class]
[if !tl] [def tl]
  \textbf{Types:}
  \begin{itemize}
[endif]
\item [if typedef]typedef [endif][if enum]enum [endif][type] \textbf{[name]}
  [if enum] [lb][args][rb] [endif]
  [if brief] - \textit{[brief]}[endif]
[endif][next]
[if tl] [undef tl]
\end{itemize}
[endif]

[foreach func]
[if detail][if !with_class]
\subsection{[name]}

[type] \textbf{[name]} ([args]) \
  [if throws] throws [throwclass]([throwargs]) [endif]

[if brief]\textit{[brief]}[endif]

[detail]

[endif][endif]
[next]
